.ves-verticalmenu{position:relative;z-index:990}.ves-verticalmenu .dropdown-menu>.dropdown-menu-inner{padding:0}.ves-verticalmenu .mega-group .caret{display:none}.ves-verticalmenu .mega-group>.dropdown-toggle{display:block;font-weight:700;padding:6px 5px;text-transform:uppercase;border-bottom:solid 1px #E5E5E5}.ves-verticalmenu .mega-group .dropdown-mega .mega-col-inner>ul>li a{margin-left:6px}.ves-verticalmenu .mega-col .mega-col-inner>ul{list-style:none;margin:0;padding:0}.ves-verticalmenu .mega-col .mega-col-inner>ul>li{list-style:none;margin-left:0}.ves-verticalmenu .mega-col .mega-col-inner>ul>li>a{clear:both;color:#fff;display:block;line-height:20px}.ves-verticalmenu .dropdown-submenu:hover .dropdown-menu{display:block}.ves-verticalmenu .dropdown-submenu>.dropdown-menu{border-radius:0 6px 6px;left:100%;margin-left:-6px;margin-top:-6px;top:0}.widget-product-list img{margin-right:12px}.widget-banner .w-banner{margin:6px 10px;float:left}

.video{
    height: 0px;
    overflow: hidden;
    padding-bottom: 50.25%;
    padding-top: 30px;
    position: relative;
}

.video iframe{
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}