<?xml version="1.0"?>
<config>
  <modules>
    <Ecommage_CustomProductAttr>
      <version>0.2.0</version>
    </Ecommage_CustomProductAttr>
  </modules>
  <global>
    <helpers>
      <customproductattr>
        <class>Ecommage_CustomProductAttr_Helper</class>
      </customproductattr>
    </helpers>
	<models>
	  <customproductattr>
		<class>Ecommage_CustomProductAttr_Model</class>
		<resourceModel>customproductattr_mysql4</resourceModel>
	  </customproductattr>
	</models>
	<resources>
	  <categoryattribute1430156926_setup>
		<setup>
		  <module>Ecommage_CustomProductAttr</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1430156926_setup>
	  <categoryattribute1430156926_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1430156926_write>
	  <categoryattribute1430156926_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1430156926_read>
	</resources>
  </global>
</config> 