<?xml version="1.0"?>  
<config>  
	<modules>
		<Ves_Layerslider>  
			<version>1.1.0</version>  
		</Ves_Layerslider>  
	</modules>
	<frontend>
		 <routers>
            <layerslider>
                <use>standard</use>
                <args>
                    <module>Ves_Layerslider</module>
                    <frontName>veslayerslider</frontName>
                </args>
            </layerslider>
        </routers>
		<translate>
			<modules>
				<Ves_Layerslider>
					<files>
						<default>Ves_Layerslider.csv</default>
					</files>
				</Ves_Layerslider>
			</modules>
		</translate>
		<layout>
			<updates>
				<layerslider module="ves_layerslider">
					<file>ves_layerslider.xml</file>
				</layerslider>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>
            <ves_layerslider>
                <class>Ves_Layerslider_Block</class>
            </ves_layerslider>
        </blocks>
        <models>
            <ves_layerslider>
                <class>Ves_Layerslider_Model</class>
                <resourceModel>ves_layerslider_mysql4</resourceModel>
            </ves_layerslider>
            <ves_layerslider_mysql4>
                <class>Ves_Layerslider_Model_Mysql4</class>
                <entities>
					<banner>
                        <table>ves_layerslider_banner</table>
                    </banner>
					<banner_store>
                        <table>ves_layerslider_banner_store</table>
                    </banner_store>
                </entities>
            </ves_layerslider_mysql4>
        </models>
        <helpers>
            <ves_layerslider>
                <class>Ves_Layerslider_Helper</class>
            </ves_layerslider>
        </helpers>
        <resources>
            <ves_layerslider_setup>
                <setup>
                    <module>Ves_Layerslider</module>
				
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_layerslider_setup>
            <ves_layerslider_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_layerslider_write>
            <ves_layerslider_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_layerslider_read>
        </resources>

	</global>
	<admin>
        <routers>
            <layerslider>
                <use>admin</use>
                <args>
                    <module>Ves_Layerslider</module>
                    <frontName>layerslider</frontName>
                </args>
            </layerslider>
        </routers>
    </admin>
	<default>
        <ves_layerslider>
            <general_setting>
                <show>1</show>    
                <theme>default</theme>
				<enable_jquery>0</enable_jquery>
				<title>Ves Brand</title>  
				<theme>default</theme>
                <route>ves-brand</route>
				<extension>html</extension>
				<brand_imagesize>124x45</brand_imagesize>
				<enable_icon>1</enable_icon>
			</general_setting>
			 
			<module_setting>
				<enable_scrollmodule>1</enable_scrollmodule>
				<brandnav_parent>0</brandnav_parent>
				<limit_items>6</limit_items>
				<scroll_position>content</scroll_position>
				<scroll_title></scroll_title>
				<scrollmod_desc></scrollmod_desc>
				<scroll_display>after</scroll_display>
				<scroll_menuassignment>all</scroll_menuassignment>
				<scroll_typesource>scroll</scroll_typesource>
				<itemvisiable>6</itemvisiable>
				<isvertical>0</isvertical>
				<enable_brandnavmodule>1</enable_brandnavmodule>
				<brandnav_title>Shop By Brand</brandnav_title>
				<isdropdown>0</isdropdown>
				<brandnav_menuassignment>all</brandnav_menuassignment>
				<brandnav_title>Brand Categories</brandnav_title>
				<brandnav_position>right</brandnav_position>
				<brandnav_customposition></brandnav_customposition>
				<brandnav_display></brandnav_display>
				
			</module_setting>
        </ves_layerslider>
    </default>
</config>  
