<?xml version="1.0"?>  
<config>  
    <modules>  
        <Ves_Verticalmenu>  
            <version>1.1.0</version>  
        </Ves_Verticalmenu>  
    </modules>  
    <frontend>
        <routers>
            <vesverticalmenu>
                <use>standard</use>
                <args>
                    <module>Ves_Verticalmenu</module>
                    <frontName>vesverticalmenu</frontName>
                </args>
            </vesverticalmenu>
        </routers>
        <translate>
            <modules>
                <Ves_Verticalmenu>
                    <files>
                        <default>Ves_Verticalmenu.csv</default>
                    </files>
                </Ves_Verticalmenu>
            </modules>
        </translate>
        <layout>
            <updates>
                <ves_verticalmenu>
                    <file>ves_verticalmenu.xml</file>
                </ves_verticalmenu>
            </updates>
        </layout>
    </frontend> 
    <global>             
        <blocks>
            <ves_verticalmenu>
                <class>Ves_Verticalmenu_Block</class>
            </ves_verticalmenu>
        </blocks>
        <models>
            <ves_verticalmenu>
                <class>Ves_Verticalmenu_Model</class>
                <resourceModel>ves_verticalmenu_mysql4</resourceModel>
            </ves_verticalmenu>
            <ves_verticalmenu_mysql4>
                <class>Ves_Verticalmenu_Model_Mysql4</class>
                <entities>
                    <verticalmenu>
                        <table>ves_verticalmenu_verticalmenu</table>
                    </verticalmenu>
                    <verticalmenu_store>
                        <table>ves_verticalmenu_verticalmenu_store</table>
                    </verticalmenu_store>
                    <verticalmenu_widget>
                        <table>ves_verticalmenu_verticalmenu_widget</table>
                    </verticalmenu_widget>
                </entities>
            </ves_verticalmenu_mysql4>
        </models>
        <helpers>
            <ves_verticalmenu>
                <class>Ves_Verticalmenu_Helper</class>
            </ves_verticalmenu>
        </helpers>
        <resources>
            <ves_verticalmenu_setup>
                <setup>
                    <module>Ves_Verticalmenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_verticalmenu_setup>
            <ves_verticalmenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_verticalmenu_write>
            <ves_verticalmenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_verticalmenu_read>
        </resources>
    </global> 
     <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ves_Verticalmenu after="Mage_Adminhtml">Ves_Verticalmenu</Ves_Verticalmenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <ves_verticalmenu>
                    <file>ves_verticalmenu.xml</file>
                </ves_verticalmenu>
            </updates>
        </layout>
        
        <translate>
            <modules>
                <Ves_Verticalmenu>
                    <files>
                        <default>Ves_Verticalmenu.csv</default>
                    </files>
                </Ves_Verticalmenu>
            </modules>
        </translate>
    </adminhtml>    
        
    <default>
        <ves_verticalmenu>
            <ves_verticalmenu>
                <show>1</show>  
            </ves_verticalmenu>
        </ves_verticalmenu>
    </default>
</config>  
