<?xml version="1.0"?>
<config>
    <modules>
        <Wingyip_Recipe>
            <version>1.0.5</version>
        </Wingyip_Recipe>
    </modules>
    <frontend>
        <routers>
            <recipe>
                <use>standard</use>
                <args>
                    <module>Wingyip_Recipe</module>
                    <frontName>recipes</frontName>
                </args>
            </recipe>
        </routers>
        <layout>
            <updates>
                <module>
                    <file>recipe.xml</file>
                </module>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <recipe>
                <use>admin</use>
                <args>
                    <module>Wingyip_Recipe</module>
                    <frontName>recipes</frontName>
                </args>
            </recipe>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <module>
                    <file>recipe.xml</file>
                </module>
            </updates>
        </layout>
        <events>
            <catalog_product_save_before>
                <observers>
                    <recipe_save_product_data>
                        <type>singleton</type>
                        <class>Wingyip_Recipe_Model_Observer</class>
                        <method>saveProductTabData</method>
                    </recipe_save_product_data>
                </observers>
            </catalog_product_save_before>
        </events>
    </adminhtml>  
    <global>
        <rewrite>
            <recipe_cart_addmultiple>
                <from><![CDATA[#^/checkout/cart/addmultiple/.*$#]]></from>
                <to>/recipe/cart/addmultiple/</to>
            </recipe_cart_addmultiple> 
        </rewrite>
        <models>
            <recipe>
                <class>Wingyip_Recipe_Model</class>
                <resourceModel>recipe_mysql4</resourceModel>
            </recipe>
            <recipe_mysql4>
                <class>Wingyip_Recipe_Model_Mysql4</class>
                 <entities>
                    <recipe>
                        <table>recipe</table>
                    </recipe>
                    <associated>
                        <table>recipe_associated</table>
                    </associated>
                    <related>
                        <table>recipe_related</table>
                    </related>
                    <category>
                        <table>recipe_main_category</table>
                    </category>
                    <ingredient>
                        <table>recipe_main_ingredients</table>
                    </ingredient>
                    <cupboard>
                        <table>recipe_main_cupboard_ing</table>
                    </cupboard>
                    <cuisine>
                        <table>recipe_main_cuisine_type</table>
                    </cuisine>
                    <cookingmethod>
                        <table>recipe_main_cooking_method</table>
                    </cookingmethod>
                    <course>
                        <table>recipe_course</table>
                    </course>
                    <recipe_category>
                        <table>recipe_category</table>
                    </recipe_category>
                    <recipe_ingredients>
                        <table>recipe_ingredients</table>
                    </recipe_ingredients>
                    <recipe_cupboard>
                        <table>recipe_cupboard_ing</table>
                    </recipe_cupboard>
                    <recipe_cuisine>
                        <table>recipe_cuisine_type</table>
                    </recipe_cuisine>
                    <recipe_cookingmethod>
                        <table>recipe_cooking_method</table>
                    </recipe_cookingmethod>
                    <recipe_dietary>
                        <table>recipe_special_dietary_tags</table>
                    </recipe_dietary>
                    <review>
                        <table>recipe_review</table>
                    </review>
                    <recipe_reviewdescr>
                        <table>recipe_review_description</table>
                    </recipe_reviewdescr>
					<image>
                        <table>recipe_image</table>
                    </image>
                    
                </entities>
            </recipe_mysql4>
        </models>
        <resources>
            <recipe_setup>
                <setup>
                    <module>Wingyip_Recipe</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
           </recipe_setup>
       </resources> 
        <blocks>
            <recipe>
                <class>Wingyip_Recipe_Block</class>
            </recipe>
             <adminhtml>
                <rewrite>
                     <catalog_product_edit_tabs>Wingyip_Recipe_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
                 </rewrite>
             </adminhtml>
        </blocks>
        <helpers>
            <recipe>
                <class>Wingyip_Recipe_Helper</class>
            </recipe>
        </helpers>
		
		<!--<template>
			<email>
				<recipe_sendfriend_email>
					<label>SendFriend Email</label>
					<file>recipe-sendfriend.html</file>
					<type>html</type>
				</recipe_sendfriend_email>
			</email>
		</template>-->
    </global>
</config>