<?xml version="1.0"?>
<config>
    <modules>
        <Ecommage_Xurl>
            <version>0.0.1</version>
        </Ecommage_Xurl>
    </modules>
    <global>
        <models>
            <core>
                <rewrite>
                    <store>Ecommage_Xurl_Model_Store</store>
                </rewrite>
            </core>
        </models>
    </global>
</config>