<?xml version="1.0"?>
<config>
    <modules>
        <Wingyip_Shipping>
            <version>1.0.1</version>
        </Wingyip_Shipping>
    </modules>
    <frontend>
        <routers>
            <shipping>
                <use>standard</use>
                <args>
                    <module>Wingyip_Shipping</module>
                    <frontName>shipping</frontName>
                </args>
            </shipping>
        </routers> 
		<layout>
			<updates>
				<shipping>
					<file>shippingwing.xml</file>
				</shipping>
			</updates>
		</layout>		
    </frontend>
    <admin>
        <routers>
            <shipping>
                <use>admin</use>
                <args>
                    <module>Wingyip_Shipping</module>
                    <frontName>shipping</frontName>
                </args>
            </shipping>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <shipping>
                    <file>shippingwing.xml</file>
                </shipping>
            </updates>
        </layout>
    </adminhtml> 
    <global>
		<blocks>
			<shipping>
				<class>Wingyip_Shipping_Block</class>
			</shipping>
			<adminhtml>
				<rewrite>
					<sales_order_view>Wingyip_Shipping_Block_Adminhtml_Sales_Order_View</sales_order_view>
				</rewrite>
			</adminhtml>
		</blocks>
        <helpers>
            <shippingwing>
                <class>Wingyip_Shipping_Helper</class>
            </shippingwing>
        </helpers>
		<models>
			<shippingwing>
				<class>Wingyip_Shipping_Model</class>
			</shippingwing>
		</models>
       
        <resources>
            <shippingwing_setup>
                <setup>
                    <module>Wingyip_Shipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
           </shippingwing_setup>
       </resources>         
    </global>
</config>
