<?xml version="1.0"?>
<config>
    <modules>
        <Ecommage_RewriteRealex>
            <version>0.1.0</version>
        </Ecommage_RewriteRealex>
    </modules>
    <global>
        <helpers>
            <ecommage_rewriterealex>
                <class>Ecommage_RewriteRealex_Helper</class>
            </ecommage_rewriterealex>
        </helpers>
        <blocks>
            <ecommage_rewriterealex>
                <class>Ecommage_RewriteRealex_Block</class>
            </ecommage_rewriterealex>
            <realex>
                <rewrite>
                    <adminhtml_realex_grid>Ecommage_RewriteRealex_Block_Adminhtml_Realex_Grid</adminhtml_realex_grid>
                </rewrite>
            </realex>
        </blocks>
        <rewrite>
            <ecommage_rewriterealex_adminhtml_realexcontroller>
                <from><![CDATA[#^/realex/adminhtml_realex/#]]></from>
                <to>/admin_rewriterealex/adminhtml_realex/</to>
            </ecommage_rewriterealex_adminhtml_realexcontroller>
        </rewrite>
    </global>
    <admin>
        <routers>
            <rewriterealex>
                <use>admin</use>
                <args>
                    <module>Ecommage_RewriteRealex</module>
                    <frontName>admin_rewriterealex</frontName>
                </args>
            </rewriterealex>
        </routers>
    </admin>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <ecommage_rewriterealex>
                        <class>Ecommage_RewriteRealex_Model_Observer</class>
                        <method>autoGeneralInvoice</method>
                    </ecommage_rewriterealex>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
    </frontend>
</config>