<?xml version="1.0"?>
<config>
    <modules>
        <Wingyip_Blended>
            <version>0.1.0</version>
        </Wingyip_Blended>
    </modules>
     <frontend>
        <events>
            <sales_order_place_after>
                <observers>
                    <wingyip_blended_observer>
                        <type>singleton</type>
                        <class>Wingyip_Blended_Model_Observer</class>
                        <method>calculateVat</method>
                    </wingyip_blended_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <layout>
            <updates>
                <blended>
                    <file>blended.xml</file>
                </blended>
            </updates>
        </layout>
    </frontend> 
    <adminhtml>
        <layout>
            <updates>
                <blended>
                    <file>blended.xml</file>
                </blended>
            </updates>
         </layout>
    </adminhtml> 
    
    <global>
        <models>
            <sales>
                <rewrite>
                    <order>Wingyip_Blended_Model_Sales_Order</order>                   
                </rewrite>
            </sales>
        </models>
        <resources>
            <blended_setup>
                <setup>
                    <module>Wingyip_Blended</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blended_setup>
        </resources>
         <blocks>
            <blended>
                <class>Wingyip_Blended_Block</class>
            </blended>
             <adminhtml>
                <rewrite>
                    <sales_order_view_items>Wingyip_Blended_Block_Sales_Order_View_Items</sales_order_view_items>
                </rewrite>
                <rewrite>
                    <sales_order_invoice_view_items>Wingyip_Blended_Block_Sales_Order_Invoice_View_Items</sales_order_invoice_view_items>
                </rewrite>
                <rewrite>
                    <sales_order_shipment_view_items>Wingyip_Blended_Block_Sales_Order_Shipment_View_Items</sales_order_shipment_view_items>
                </rewrite>
                <rewrite>
                    <sales_order_creditmemo_view_items>Wingyip_Blended_Block_Sales_Order_Creditmemo_View_Items</sales_order_creditmemo_view_items>
                </rewrite>
            </adminhtml>  
        </blocks>
</global>
</config>
