<?xml version="1.0" encoding="UTF-8" ?>
<theme>
	<version value="1.4">
		<ccc available="true" />
		<guest_checkout available="true" />
		<one_page_checkout available="true" />
		<store_locator available="true" />
	</version>
	<name>Venus Camera Store</name>
	<positions>
		<position>top</position>
		<position>header</position>
		<position>left</position>
		<position>right</position>
		<position>slideshowTop</position>
		<position>showcase</position>
		<position>promotion</position>
		<position>breadcrumbs</position>
		<position>global_messages</position>
		<position>contentTop</position>
		<position>contentBottom</position>
		<position>content</position>
		<position>massbottom</position>
		<position>footerTop</position>
		<position>footerCenter</position>
		<position>footer</position>

	</positions>

<!-- Export data sample: theme, modules, static_block, cms_page -->
	<export>
		<!-- export type for (theme, cms_page, static_block): only support CSV file -->
		<theme>csv</theme>
		<cms_page>csv</cms_page>
		<static_block>csv</static_block>

		<!-- there modules will delete all current data in tables of following modules then inserting new sampledata -->
		<modules_query section="community"><!-- community = app/code/community-->
			<module>Ves_Verticalmenu</module>
			<module>Ves_Megamenu</module>
			<module>Ves_Blog</module>
			<module>Ves_Layerslider</module>
			<module>Ves_Gallery</module>
		</modules_query>

		<!-- Input modules of theme and module's table names (Install or Override)-->
		<modules section="community"><!-- community = app/code/community-->
			<module name="Ves_Megamenu">
				megamenu
				megamenu_store
				megamenu_widget
			</module>
			<module name="Ves_Verticalmenu">
				verticalmenu
				verticalmenu_store
				verticalmenu_widget
			</module>
			<module name="Ves_Layerslider">
				banner
				banner_store
			</module>
			<module name="Ves_Blog">
				category
				category_store
				comment
				comment_store
				post
				post_store
			</module>
			<module name="Ves_Gallery">
				banner
			</module>
			<module name="Ves_ProductCarousel"></module>
			<module name="Ves_ProductCarousel2"></module>
			<module name="Ves_ProductCarousel3"></module>
		</modules>
		
	</export>

	<fontsizes>
				<option>9</option>
				<option>10</option>
				<option>11</option>
				<option>12</option>
				<option>13</option>
				<option>14</option>
				<option>15</option>
				<option>16</option>
	</fontsizes>

	<fonts>
				<option value="Verdana, Geneva, sans-serif">Verdana</option>
				<option value="Georgia, &quot;Times New Roman&quot;, Times, serif">Georgia</option>
				<option value="Arial, Helvetica, sans-serif">Arial</option>
				<option value="Impact, Arial, Helvetica, sans-serif">Impact</option>
				<option value="Tahoma, Geneva, sans-serif">Tohoma</option>
				<option value="&quot;Trebuchet MS&quot;, Arial, Helvetica, sans-serif">Trebuchet</option>
				<option value="&quot;Arial Black&quot;, Gadget, sans-serif">Arial Black</option>
				<option value="Times, &quot;Times New Roman&quot;, serif">Times</option>
				<option value="&quot;Palatino Linotype&quot;, &quot;Book Antiqua&quot;, Palatino, serif">Palatino Linotype</option>
				<option value="&quot;Lucida Sans Unicode&quot;, &quot;Lucida Grande&quot;, sans-serif">Lucida Sans Unicode</option>
				<option value="&quot;MS Serif&quot;, &quot;New York&quot;, serif">MS Serif</option>									
				<option value="&quot;Comic Sans MS&quot;, cursive">Comic Sans MS</option>
				<option value="&quot;Courier New&quot;, Courier, monospace">Courier New</option>
				<option value="&quot;Lucida Console&quot;, Monaco, monospace">Lucida Console</option>											
	</fonts>


	<default>
		<skin>default</skin>
		<theme_width>auto</theme_width>
		<enable_custom_copyright>0</enable_custom_copyright>
		<enable_development_mode>0</enable_development_mode>
		<copyright><![CDATA[<b>Copyright 2</b> 2013 Venustheme.Com.]]></copyright>
		
		<google_url2><![CDATA[http://fonts.googleapis.com/css?family=Jacques+Francois+Shadow|Pirata+One]]></google_url2>
		<google_family2><![CDATA['Pirata One', cursive]]></google_family2>
		<body_selector2><![CDATA[body, h1, h3,h4, .box-title]]></body_selector2>
		<theme_intro><![CDATA[ Venus Camera On Magento ]]></theme_intro>
	</default>

<!-- Internal Modules - support by venustheme framework-->

	<internal_modules>

	<fields name="showcase">

			<fieldset name="showcase">
				<field name="showcase_label" type="label"><![CDATA[Showcase Module]]></field>

				<field name="widget_showcase_name" type="input" label="Module Name" id=""></field>

				<field name="widget_showcase_data" label="Shipping" description="" type="editor" width="500px" height="300px" cols="15" rows="2">

				</field>

				<field name="widget_showcase_block_id" type="staticblocklist" default="electronics-landing" label="Static Block" id="" description=""></field>

				<field name="widget_showcase_layout" type="layout" size="10" label="Layout" default="all" style="width:280px;min-height:100px" description="">
					<option>cms</option>		
					<option>contacts</option>		
					<option>catalog-product</option>
					<option>catalog-category</option>
					<option>checkout</option>
					<option>tag</option>
					<option>catalogsearch</option>
					<option>sales</option>
					<option>customer</option>
					<option>wishlist</option>
					<option>review</option>
					<option>oauth</option>
					<option>newsletter</option>
					<option>downloadable</option>

				</field>
				<field name="widget_showcase_status" type="list" label="Status" default="1" description="Show/hide module">
					<option value="1">Yes</option>		
					<option value="0">No</option>
				</field>
			</fieldset>
		</fields>

		<fields name="content">
			<fieldset name="contentbanner">
				<field name="contentbanner_label" type="label"><![CDATA[Content Banner]]></field>

				<field name="widget_contentbanner_name" type="input" label="Module Name" id="">Content Banner</field>

				<field name="widget_contentbanner_data" label="Shipping" description="" type="editor" width="500px" height="300px" cols="15" rows="2">

				</field>

				<field name="widget_contentbanner_block_id" type="staticblocklist" default="content-banner" label="Static Block" id="" description="If you select a static block, it will override custom html of module"></field>

				<field name="widget_contentbanner_layout" type="layout" size="10" label="Layout" default="all" style="width:280px;min-height:100px" description="Select one or more layout page which module will show there">
					<option>cms</option>		
					<option>contacts</option>		
					<option>catalog-product</option>
					<option>catalog-category</option>
					<option>checkout</option>
					<option>tag</option>
					<option>catalogsearch</option>
					<option>sales</option>
					<option>customer</option>
					<option>wishlist</option>
					<option>review</option>
					<option>oauth</option>
					<option>newsletter</option>
					<option>downloadable</option>

				</field>
				<field name="widget_contentbanner_status" type="list" label="Status" default="1" description="Show/hide module">
					<option value="1">Yes</option>		
					<option value="0">No</option>
				</field>
			</fieldset>
		</fields>

		<fields name="massbottom">

			<fieldset name="contact">
				<field name="contact_label" type="label"><![CDATA[Banner Bottom]]></field>

				<field name="widget_contact_name" type="input" label="Module Name" id="">Banner Bottom</field>

				<field name="widget_contact_data" label="Banner Bottom Module" description="" type="editor" width="500px" height="300px" cols="15" rows="2"><![CDATA[<ul>
				<li><span class="iconbox button"><i class="icon-map-marker">&nbsp;</i></span><span>Proin gravida nibh vel velit auctor aliquet aene</span></li>
				<li><span class="iconbox button"><i class="icon-mobile-phone">&nbsp;</i></span><span>Phone: +01 888 (000) 1234</span></li>
				<li><span class="iconbox button"><i class="icon-envelope-alt">&nbsp;</i></span><span>Email: pavfoodstore@gmail.com</span></li>
			</ul>]]></field>

				<field name="widget_contact_block_id" type="staticblocklist" default="" label="Static Block" description="If you select a static block, it will override custom html of module"></field>

				<field name="widget_contact_layout" type="layout" size="10" label="Layout" default="all" style="width:280px;min-height:100px" description="Select one or more layout page which module will show there">
					<option>cms</option>		
					<option>contacts</option>		
					<option>catalog-product</option>
					<option>catalog-category</option>
					<option>checkout</option>
					<option>tag</option>
					<option>catalogsearch</option>
					<option>sales</option>
					<option>customer</option>
					<option>wishlist</option>
					<option>review</option>
					<option>oauth</option>
					<option>newsletter</option>
					<option>downloadable</option>
				</field>
				<field name="widget_contact_status" type="list" label="Status" default="1" description="Show/hide module">
					<option value="1">Yes</option>		
					<option value="0">No</option>
				</field>
			</fieldset>
		</fields>
	</internal_modules>

</theme>

