<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ves_Gallery>  
			<version>1.1.0</version>  
		</Ves_Gallery>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Ves_Gallery>
					<files>
						<default>Ves_Gallery.csv</default>
					</files>
				</Ves_Gallery>
			</modules>
		</translate>
		<layout>
			<updates>
				<Ves_Gallery>
					<file>ves_gallery.xml</file>
				</Ves_Gallery>
			</updates>
		</layout>
		<events>
			<controller_action_layout_generate_blocks_after>
				<observers>
					<ves_gallery_observer>
						<type>singleton</type>
						<class>Ves_Gallery_Model_Observer</class>
						<method>beforeRender</method>
					</ves_gallery_observer>
				</observers>
			</controller_action_layout_generate_blocks_after>
		</events>
	</frontend>	
	<global>  		     
		<blocks>
            <ves_gallery>
                <class>Ves_Gallery_Block</class>
            </ves_gallery>
        </blocks>
        <models>
            <ves_gallery>
                <class>Ves_Gallery_Model</class>
                <resourceModel>ves_gallery_mysql4</resourceModel>
            </ves_gallery>
            <ves_gallery_mysql4>
                <class>Ves_Gallery_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>ves_gallery_banner</table>
                    </banner>
                </entities>
            </ves_gallery_mysql4>
        </models>
        <helpers>
            <ves_gallery>
                <class>Ves_Gallery_Helper</class>
            </ves_gallery>
        </helpers>
        <resources>
            <ves_gallery_setup>
                <setup>
                    <module>Ves_Gallery</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ves_gallery_setup>
            <ves_gallery_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ves_gallery_write>
            <ves_gallery_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ves_gallery_read>
        </resources>
		
	</global>  
	<admin>
        <routers>
            <gallery>
                <use>admin</use>
                <args>
                    <module>Ves_Gallery</module>
                    <frontName>gallery</frontName>
                </args>
            </gallery>
        </routers>
    </admin>	
		
	<default>
        <ves_gallery>
            <ves_gallery>
                <show>1</show>    
                <title>Ves Gallery</title>  
				<theme>default</theme>
                <moduleHeight>auto</moduleHeight>
                <moduleWidth>auto</moduleWidth>
				<thumbWidth>200</thumbWidth>                
                <thumbHeight>200</thumbHeight>   
				<source>catalog</source> 
				<thumbnailMode>1</thumbnailMode>  				
				<blockPosition>content</blockPosition>
				<blockDisplay>before</blockDisplay>
				<menuAssignment>Mage_Cms_index</menuAssignment>
				<source>catalog</source>
			</ves_gallery>

			
			<file_source_setting>
				<imagecategory></imagecategory>
			</file_source_setting>
			<effect_setting>
				<titleMaxchar>15</titleMaxchar>
				<descMaxchar>200</descMaxchar>
				<slide_width>auto</slide_width>
				<slide_height>300</slide_height>
				<auto_play>1</auto_play>
				<duration>500</duration>
				<scroll_items>1</scroll_items>
				<limit_cols>4</limit_cols>
				<show_button>1</show_button>
				<show_pager>1</show_pager>
				<show_title>1</show_title>
				<show_date>0</show_date>
				<show_desc>1</show_desc>
				<show_price>1</show_price>
				<show_pricewithout>1</show_pricewithout>
				<show_addcart>1</show_addcart>
			</effect_setting>

        </ves_gallery>
    </default>
</config>  
