<?xml version="1.0"?>
<config>
    <modules>
        <Ecommage_Rewritewingyip>
            <version>0.1.0</version>
        </Ecommage_Rewritewingyip>
    </modules>
    <admin>
        <routers>
            <shipping>
                <args>
                    <modules>
                        <ecommage_rewritewingyip before="Wingyip_Shipping">Ecommage_Rewritewingyip</ecommage_rewritewingyip>
                    </modules>
                </args>
            </shipping>
        </routers>
    </admin>
    <global>
        <helpers>
            <rewritewingyip>
                <class>Ecommage_Rewritewingyip_Helper</class>
            </rewritewingyip>
        </helpers>
        <blocks>
            <rewritewingyip>
                <class>Ecommage_Rewritewingyip_Block</class>
            </rewritewingyip>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Ecommage_Rewritewingyip_Block_Adminhtml_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>

        <models>
            <rewritewingyip>
                <class>Ecommage_Rewritewingyip_Model</class>
                <resourceModel>rewritewingyip_mysql4</resourceModel>
            </rewritewingyip>
            <rewritewingyip_mysql4>
                <class>Ecommage_Rewritewingyip_Model_Mysql4</class>
                <entities>
                    <ups>
                        <table>shipping_ups</table>
                    </ups>
                </entities>
            </rewritewingyip_mysql4>
        </models>
        <resources>
            <rewritewingyip_setup>
                <setup>
                    <module>Ecommage_Rewritewingyip</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rewritewingyip_setup>
            <rewritewingyip_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rewritewingyip_write>
            <rewritewingyip_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rewritewingyip_read>
        </resources>
    </global>
</config>